<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="userMaster_contents">
		<div class="page-header">
			<h1>ユーザー閲覧画面</h1>
			<form method="post" th:action="@{/userSearch}" th:object="${userSearchForm}">
			<label>ユーザーID</label>
			<input type="text">
			<br>
			<label>ユーザー名</label>
			<input type="text">
			<br>
			<button class="btn btn-primary" type="submit">検索</button>
			<a class="btn btn-link pull-right" th:href="@{/userMaster}">クリア</a>
			</form>
		</div>
	</div>
</body>
</html>