<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.manage.domain.repository.mybatis.ComponentMapper">

	<resultMap type="com.example.demo.manage.domain.model.Component" id="comp">
		<id column="component_id" property="componentId"></id>
		<result column="component_cd" property="componentCd"></result>
		<result column="component_name" property="componentName"></result>
		<result column="food_flag" property="foodFlag"></result>
		<result column="component_status" property="componentStatus"></result>
	</resultMap>

	<insert id="insertComponent" parameterType="com.example.demo.manage.domain.model.Component">
	INSERT INTO component
	VALUES (#{componentId},#{componentCd},#{componentName},#{foodFlag},#{componentStatus})
	</insert>

	<select id="selectOneComponent" parameterType="string" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_id = #{componentId}
	</select>

	<select id="selectAllComponent" resultMap="comp">
	SELECT *
	FROM component
	</select>

	<update id="updateComponent" parameterType="com.example.demo.manage.domain.model.Component">
	UPDATE component
	SET component_cd = #{componentCd}, component_name = #{componentName},
	food_flag = #{foodFlag}, component_status = #{componentStatus}
	WHERE component_id = #{componentId}
	</update>

	<delete id="deleteComponent" parameterType="string">
	DELETE FROM component
	WHERE component_id = #{componentId}
	</delete>

	<select id="searchComponent" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_id LIKE CONCAT('%',#{id},'%')
	AND component_cd LIKE CONCAT('%',#{cd},'%')
	AND component_name LIKE CONCAT('%',#{name},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp1" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_id LIKE CONCAT('%',#{id},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp2" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_cd LIKE CONCAT('%',#{cd},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp3" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_name LIKE CONCAT('%',#{name},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp4" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_cd LIKE CONCAT('%',#{cd},'%')
	AND component_name LIKE CONCAT('%',#{name},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp5" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_id LIKE CONCAT('%',#{id},'%')
	AND component_name LIKE CONCAT('%',#{name},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<select id="searchComp6" resultMap="comp">
	SELECT *
	FROM component
	WHERE component_id LIKE CONCAT('%',#{id},'%')
	AND component_cd LIKE CONCAT('%',#{cd},'%')
	AND food_flag = #{flag}
	AND component_status = #{status}
	</select>

	<delete id="deleteAllComponent">
	DELETE FROM component
	</delete>

</mapper>