<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<meta charset="UTF-8">
</head>
<body>
	<div th:fragment="productDetail_contents" class="overflow-auto">
		<div class="page-header">
			<h1>商品編集画面</h1>
		</div>
		<div class="col-sm-12">
			<form th:action="@{/productDetail}" method="post" th:object="${registerProductForm}">
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">商品ID</label>
					<div class="col-sm-3" th:classappend="${#fields.hasErrors('productId')}?'has-error'">
						<input type="text" class="form-control form-control-sm" th:field="*{productId}"
						readonly="readonly">
						<ul>
							<li th:each="error:${#fields.detailedErrors('productId')}">
								<span class="text-danger" th:if="${#fields.hasErrors('productId')}"
									th:text="${error.message}">productId error</span>
							</li>
						</ul>
					</div>
					<label class="col-form-label col-form-label-sm text-right">商品コード</label>
					<div class="col-sm-3" th:classappend="${#fields.hasErrors('productCd')}?'has-error'">
						<input type="text" class="form-control form-control-sm" th:field="*{productCd}">
						<ul>
							<li th:each="error:${#fields.detailedErrors('productCd')}">
								<span class="text-danger" th:if="${#fields.hasErrors('productCd')}"
									th:text="${error.message}">productCd error</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">商品名</label>
					<div class="col-sm-7" th:classappend="${#fields.hasErrors('productName')}?'has-error'">
						<input type="text" class="form-control form-control-sm" th:field="*{productName}">
						<ul>
							<li th:each="error:${#fields.detailedErrors('productName')}">
								<span class="text-danger" th:if="${#fields.hasErrors('productName')}"
									th:text="${error.message}">productName error</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成区分</label>
					<div th:each="flg:${radioSetup}" class="form-check-inline">
						<input type="radio" name="radioSetup" th:text="${flg.key}"
						 th:value="${flg.value}" th:field="*{setup}" class="form-check-input">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">食品フラグ</label>
					<div th:each="flg:${radioFood}" class="form-check-inline">
						<input type="radio" name="radioFood" th:text="${flg.key}"
						 th:value="${flg.value}" th:field="*{food}" class="form-check-input">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">取扱状態</label>
					<div th:each="status:${radioProductStatus}" class="form-check-inline">
						<input type="radio" name="radioProductStatus" th:text="${status.key}"
						 th:value="${status.value}" th:field="*{productStatus}" class="form-check-input">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">使用許可日数</label>
					<div class="col-sm-4" th:classappend="${#fields.hasErrors('productName')}?'has-error'">
						<input type="number" class="form-control form-control-sm" th:field="*{permitPeriod}">
						<ul>
							<li th:each="error:${#fields.detailedErrors('permitPeriod')}">
								<span class="text-danger" th:if="${#fields.hasErrors('permitPeriod')}"
									th:text="${error.message}">permitPeriod error</span>
							</li>
						</ul>
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-1</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp1}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-2</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp2}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-3</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp3}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-4</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp4}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-5</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp5}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-6</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp6}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-7</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp7}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-8</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp8}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-9</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp9}">
					</div>
				</div>
				<div class="form-group row">
					<label class="col-sm-2 col-form-label col-form-label-sm text-right">構成品ID-10</label>
					<div class="col-sm-7 row">
						<input type="text" class="col-sm-2 form-control form-control-sm" th:field="*{comp10}">
					</div>
				</div>
				<button class="btn btn-primary" type="submit" name="update">登録</button>
				<button class="btn btn-danger" type="submit" name="delete">削除</button>
				<a class="btn btn-secondary" th:href="@{/productMaster}">戻る</a>
				<a class="btn btn-success" th:href="@{/productMaster}" target="_blank" rel="noopener">商品検索</a>
			</form>
			<label class="text-danger" th:text="${result}">結果表示</label>
		</div>
	</div>
</body>
</html>