<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.4.1/css/bootstrap.min.css}" rel="stylesheet"></link>
	<script th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.4.1/js/bootstrap.min.js}"></script>
<title>Sign up</title>
</head>
<body>
<div class="col-sm-5">
	<div class="page-header">
		<h1>ユーザー登録画面</h1>
		<a th:href="@{/login}">ログイン画面に戻る</a>
	</div>
	<br>
	<form th:action="@{/signup}" method="post" th:object="${signupForm}">
		<table class="table table-bordered table-hover">
		<tr>
			<th>ユーザーID</th>
			<td>
				<div class="form-group" th:classappend="${#fields.hasErrors('userId')}?'has-error'">
					<input type="text" class="form-control" th:field="*{userId}">
					<span class="text-danger" th:if="${#fields.hasErrors('userId')}" th:text="*{userId}">
					userId error</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>パスワード</th>
			<td>
				<div class="form-group" th:classappend="${#fields.hasErrors('password')}?'has-error'">
					<input type="text" class="form-control" th:field="*{password}">
					<span class="text-danger" th:if="${#fields.hasErrors('password')}" th:text="*{password}">
					password error</span>
				</div>
			</td>
		</tr>
		<tr>
			<th>ユーザー名</th>
			<td>
				<div class="form-group" th:classappend="${#fields.hasErrors('userName')}?'has-error'">
					<input type="text" class="form-control" th:field="*{userName}">
					<span class="text-danger" th:if="${#fields.hasErrors('userName')}" th:text="*{userName}">
					userName error</span>
				</div>
			</td>
		</tr>
		</table>
		<ul>
			<li th:each="error:${#fields.detailedErrors()}">
				<span th:text="${error.message}">Error Message</span>
			</li>
		</ul>
		<button class="btn btn-primary" type="submit">ユーザー登録</button>
	</form>
</div>
</body>
</html>